.about-us-container {
    max-width: 60%;
  background-color: #ffffff21;
    margin: 10px auto;
    /* padding: 15rem; */

    text-align: center;
  }
  
  .about-us-container h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .about-us-container p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    
  }
  
  .owner-cards-container {
    display:flex;

    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;

  }
  
  .owner-card {
    width: 100%;
    max-width: 500px;
    text-align: center;
    background-color: #ffffff52;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    overflow: hidden;
    margin: 1rem;
  }
  
  .owner-photo {
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  
  .owner-name {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .owner-position {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  
  .owner-card:hover {
    transform: translateY(-10px);
  }
  
  @media screen and (min-width: 768px) {
    .owner-cards-container {
      justify-content: space-between;
    }
  }
  
  
  /* Footer styles */
  /* footer {
    background-color: #2c3e50;
    color: #ffffff;
    padding: 3rem;
  }
   */
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    flex-basis: 30%;
  }
  
  /* .footer-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  } */
  
  /* li {
    margin-bottom: 0.5rem;
  }
   */
  /* a {
    color: #918d8d;
    text-decoration: none;
  } */
  
  /* a:hover {
    text-decoration: underline;
  } */
  



/* Set up global styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Style the main container */
main {

  background-color: #f2f2f221;
}

/* Style the title */
.about-us-container .title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

/* Style the descriptions */
.about-us-container .description {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #555;
}

/* Add a border to the container */
.about-us-container {
  border: 1px solid #cccccc7a;
  border-radius: 5px;
  padding: 20px;
}

/* Add a hover effect to the container */
.about-us-container:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

