
.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.team-card {
  width: 300px;

  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  margin-bottom: 50px;
}

.team-card-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 16px;
}

.team-member-name {
  font-size: 20px;
  margin-bottom: 8px;
}

.team-member-role {
  font-size: 16px;
  color: #888888;
}

/* Additional Styles for Attractiveness */

.about-us-container {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}

.about-us-title {
  text-align: center;
  font-size: 24px;
  color: #333333;
  margin-bottom: 20px;
}

.services-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.service-title {
  font-size: 20px;
  color: #333333;
  margin-bottom: 10px;
}

.service-description {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 20px;
}

.service-description p {
  font-size: 16px;
  color: #666666;
  margin-bottom: 10px;
}

.service-list {
  padding-left: 20px;
}

.service-list li {
  list-style-type: disc;
  font-size: 14px;
  color: #333333;
  margin-bottom: 5px;
}

