/* Footer */

.footer {
    background-color: #333;
    color: #fff;
    padding: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  
  .kisan-bazar {
    text-align: center;
  }
  
  .kisan-bazar h2 {
    font-size: 2rem;
    margin-bottom: 0.1rem;
  }
  
  .kisan-bazar p {
    margin: 0;
  }
  
  .social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .social-icons a {
    display: inline-block;
    background-color: #fff;
    color: #333;
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
  }
  
  .social-icons a:hover {
    transform: translateY(-3px);
  }
  
  .social-icons a i {
    transition: all 0.2s ease-in-out;
  }
  
  .social-icons a:hover i {
    transform: scale(1.2);
  }
  
  .social-icons a:nth-child(1) i {
    color: #3b5998;
  }
  
  .social-icons a:nth-child(2) i {
    color: #1da1f2;
  }
  
  .social-icons a:nth-child(3) i {
    color: #e1306c;
  }
  
  .social-icons a:nth-child(4) i {
    color: #cd201f;
  }
  
  .border-box {
    background-color: #222;
    padding: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid #fff;
  }
  
  .border-box ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .border-box li {
    margin-right: 1.5rem;
  }
  
  .border-box li:last-child {
    margin-right: 0;
  }
  
  .border-box a {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  
  .border-box a:hover {
    color: #ccc;
  }
  
  @media screen and (max-width: 768px) {
    .social-icons {
      flex-wrap: nowrap;
      overflow-x: auto;
      margin-bottom: 1rem;
    }
  
    .social-icons a {
      margin: 0 0.5rem;
    }
  
    .border-box {
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem;
    }
  
    .border-box ul {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 1rem;
    }
  
    .border-box li {
      margin-right: 0;
      margin-bottom: 0.5rem;
    }
  }
  