
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px;
  background-color: #f5f5f5;
}


.footer__useful-links {

  justify-content: space-between;
margin-top: 10px;

}

.f-ul{
  display: flex;
  justify-content: space-between;
  width: 115%;
	float: left;
  color: #1c1c1c;
	font-size: 14px;
	line-height: 38px;
}

.footer__useful-links a {
  text-decoration: none;
}

.footer__left {
  width: 30%;
  float: center;
;
}


.footer__about__logo {
  margin-bottom: 200px;
}

.footer__useful-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__useful-links h6 {
  margin-bottom: 10px;
}


.footer__useful-links h6 {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: #333;
}



/* Style for newsletter section */
.newsletter {
  background-color: #f7f7f7;
  padding: 30px 0;
}

.newsletter h6 {
  font-size: 20px;
  margin-bottom: 10px;
}

.newsletter p {
  margin-bottom: 20px;
  font-size: 14px;
}

.newsletter form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.newsletter input[type="text"] {
  padding: 10px 20px;
  width: 60%;
  border: none;
  border-radius: 30px;
  margin-right: 10px;
  font-size: 14px;
  outline: none;
}





.newsletter div {
  display: flex;
  justify-content: center;
}

.icon {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: #333;
  transition: all 0.3s ease-in-out;
}




