.banner {

  padding: 20px;
  text-align: center;

  background-position: center; /* or a specific position */
  background-repeat: no-repeat; /* or repeat-x, repeat-y, or repeat */

}

.Slogan {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
  text-shadow: 1px 1px #000000;
  cursor: pointer;
  transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}

.Slogan:hover {
  color: #ffdd00;
  text-shadow: 2px 2px #000000;


}


.below-btn:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}



.banner{
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0,1);
padding: 5px;
}





.banner h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.banner p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.banner button {
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  text-transform: uppercase;
}

.banner button:hover {
  background-color: #218838;
}

.featured {
  padding: 20px;
  text-align: center;
}

.featured h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.scroll-container {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 100%;
}

.vegetable-card-container {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;


}
.vegetable-card:hover {
  transform: scale(0.95);
}






.vegetable-card {
  /* background-color: white;
  border: 1px solid #ccc; */
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  width: 250px;
}

.vegetable-card:last-child {
  margin-right: 0;
}

.vegetable-card img {
  border-radius: 5px 5px 0 0;
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.vegetable-card h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.vegetable-card p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.categories {
background-color: transparent;
  padding: 20px;
  text-align: center;
}

.categories h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.categories ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.categories li {
  display: inline-block;
  margin: 0 10px;
}

.categories li a {
  color: #8ec724;
  font-size: 1.2rem;
  text-decoration: none;
}

.categories li a:hover {
  text-decoration: underline;
}




.why-choose-us {
  background-color: #f8f8f838;
  padding: 50px 0;
  text-align: center;
}

.why-choose-us h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.why-choose-us ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.why-choose-us li {
  flex-basis: 400px;
  margin: 20px;
  padding: 30px;
  background-color: #ffffff67;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .why-choose-us ul {
    flex-direction: column;
  }

  .why-choose-us li {
    flex-basis: auto;
    margin: 20px 0;
    padding: 20px;
  }
}
