/* Navigation.css */


.app {
  position: relative;

}


.mobile-menu-active .nav-container {
  right: 0;
}


.nav-container {
  display: flex;

  justify-content: space-between;
  background-color: rgb(235, 151, 24);
  padding: 10px;

}
/* 
.clear-button {
  margin-left: 335px;
  margin-bottom: 10px;
  width: auto;
  height: auto;
} */



.Navigation {
  position: relative;
  z-index: 100;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navigation.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #fff; /* Adjust the background color as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow if desired */
}

.Navigation.sticky .location {
  display: none;
}

/* Media query for all screens */
@media screen {
  .Navigation {
    justify-content: center;
  }
}



.nav-links {
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 12px;
  padding: 0;
  margin-right: 10%;
}

.social-media {
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.social-media .icon {
  background-size: contain;
  margin-left: 30px;
}

.nav-links li {
  margin-right: 15px;
  color: white;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  position: relative;
}

.nav-links li a:hover {
  color: #fffb00;
}

.nav-links li:not(:last-child)::after {
  content: "|";
  margin-left: 5px;
  color: #ffffff;
}

.nav-links li:not(:last-child):hover::after {
  content: "/";
}

select {
  padding: 15px;
  font-size: 14px;
  border: 1px solid #110e0e;
  border-radius: 4px;
  margin: 1.4%;
  margin-left: 27%;
}

select:focus {
  outline: none;
  border-color: #007bff;
}

option {
  background-color: #f8f8f8;
  color: #333;
}

option:hover {
  background-color: #007bff;
  color: #fff;
}

.searchbox {
  margin-top: 20px;
  position: relative;
}

.search-container {
  position: absolute;
}

input.searchboxfilter {
  box-sizing: border-box;
  padding: 17px;
  font-size: 16px;
  border-radius: 4px;
  margin-right: 10px;
  width: 400px;
}

.search-results {
  position: absolute;
  top: 90px;
  left: 0;
  z-index: 1;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(255, 2, 2, 0.1);
  overflow: hidden;
}

.search-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #1d0808;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.search-item:hover {
  background-color: #f5f5f5;
}

.search-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 50%;
}

.search-details {
  display: flex;
  flex-direction: column;
}

.search-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.search-price {
  font-size: 14px;
  color: #111111;
}

section {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.cart {
  display: flex;
  align-items: center;
  background-color: rgb(233, 232, 231);
  padding: 8px;
  border-radius: 50px;
  margin-left: 9%;
  width: 200px;
  height: 40px;
}

.cart-container {
  display: flex;
  align-items: center;
  position: relative;
}

.cart-icon {
  font-size: 20px;
  color: #000000;
}

.cart-count {
  position: absolute;
  top: 7px;
  right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: red;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
}

.my-cart {
  font-size: 14px;
  font-weight: bold;
  color: #555;
  margin-left: 10px;
}

.cart:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.cart:hover .cart-icon {
  color: #333;
}

.cart:hover .cart-count {
  background-color: #000000;
}



/* Media queries */

/* Small screens (maximum width: 767px) */
@media (max-width: 765px) {
  .nav-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
  }

  .nav-links {
    margin: 0;
    margin-top: 10px;
  }

  .social-media {
    margin: 0;
    margin-top: 10px;
  }




  input.searchboxfilter {
    box-sizing: border-box;
    padding: 12px;
    font-size: 11px;
    border-radius: 1px;
    margin-right: 10px;
    width: 200px;
    margin-left: 10px;
  } 

.location{
padding: 10px;
  width: 155px;
}

.cart{
width: 195px;
padding: 1px;
font-size: 14px;

}

.cart-container{
top: -7px;

  margin-left: -10px;
}




}

/* Medium screens (minimum width: 768px) */
@media (min-width: 768px) and (max-width: 879px) {
  .nav-links {
    margin-right: 100px;
  }

  .social-media {
    margin-left: 80px;
  }

  select {
    margin-left: 30px;
    font-size: 12px;

  }
}

/* Large screens (minimum width: 880px) */
@media (min-width: 880px) and (max-width: 964px) {
  .nav-links {
    margin-right: 150px;
  }

  .social-media {
    margin-left: 120px;
  }

  select {
    margin-left: 50px;
  }
}

/* Large screens (minimum width: 965px) */
@media (min-width: 965px) and (max-width: 1174px) {
  .nav-links {
    margin-right: 200px;
  }

  .social-media {
    margin-left: 170px;
  }

  select {
    margin-left: 10%;
  }
}

/* Extra-large screens (minimum width: 1175px) */
@media (min-width: 1175px) {
  .nav-links {
    margin-right: 430px;
  }

  .social-media {
    margin-left: 350px;
  }

  select {
    margin-left: 27%;
  }
}




/* Extra-small screens (maximum width: 780px) */
@media (max-width: 780px) {
  .nav-links {
    margin-right: 0;
    flex-wrap: wrap;
  }

  .social-media {
    margin-left: 0;
    margin-top: 10px;
  }

  .cart {
    margin-left: 0;
    margin-top: 5px;
  }

  section {
  display: grid;
    flex-wrap: wrap;
  }

  select {
    margin: 1px 0;
    width: 100%;
    
  }

  .search-results {
    top: 70px;
  }

  .cart {
    margin-left: 0;
    margin-top: 20px;
    flex-direction: column;
  }

  .Navigation.sticky .location {
    display: none;
  }
}



/* Media query for screens below 885px */
@media (max-width: 885px) {
  .searchbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  .searchboxfilter {
    width: 10%;
  }

  .search-results {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
  }

  .cart {
    margin-top: 10px;
margin-left: 3px;

  }
}


/* Media query for screens with width 1183px */
@media (min-width: 1174px) {
  .searchbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .searchboxfilter {
    width: 250px;
  }

  .search-results {
    max-height: 200px;
    overflow-y: auto;
    margin-left: 10px;
  }

  .cart {
    margin-left: 60px;
    margin-top: 10px;
  }
}





@media (max-width: 825px) {
  .searchbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
   
 
  }

  .searchboxfilter {
    width: 20%;
  }

  .search-results {
    max-height: 150px;
    overflow-y: auto;
    margin-top: 10px;
  }

  .cart {
    margin-top: 0px;
margin-left: 0px;

  }

  .Navigation .location {
    display: none;
  }
}