
/* Form Side of Container */
/* 
.form-side{
    position: absolute;
    z-index: 1;
    right: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 0.1em solid #592941;
    border-radius: 0.5em;
  
    width: 65%;
    height: 100%;
  
    background-color: #d3caca;
    opacity: 1;
  
    font-weight: bold;
    color: #035E7B;
  
    transition: 2s;
  
    border: 1px solid #ccc;
    border-radius: 5px;
  
  
  }
  
  .send-right{
    right: 0;
  }
  
  .send-left{
    right: 35%;
  }
  
  
  /* Layout styling of forms, labels, inputs */
  /* .form-comp{
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(252, 252, 252, 0.1);
    border: 1px solid #ccc;
    border-radius: 1px;
    padding: 45px;
  }

  
  .form-comp h1 {
    text-shadow: #070505;
  
    color: rgb(127, 129, 255);
  }
  
  .sign-up-form{
    width: 50%;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(128, 128, 133, 0.884);
    /* padding for border  */
  /* padding: 10rem;
  
  }
  
  .sign-up-form > label{
    padding: 0.7em;
    width: 75%
  
  }
  
  
  .sign-up-form > label > input{
    width: 100%
  
  }/ */









  .signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-container h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  .signup-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  }
  
  .signup-container input {
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
  }
  
  .signup-container input[type="submit"] {
    background-color: #4caf50;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .signup-container .error {
    color: red;
    margin-bottom: 1rem;
  }
  
  .signup-container .success-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .signup-container .success-popup p {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
  }
  
  @media screen and (max-width: 768px) {
    .signup-container h1 {
      font-size: 2rem;
    }
  
    .signup-container form {
      max-width: 90%;
    }
  
    .signup-container input {
      font-size: 1rem;
    }
  
    .signup-container input[type="submit"] {
      font-size: 1rem;
    }
  
    .signup-container .success-popup p {
      font-size: 1rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .signup-container h1 {
      font-size: 1.5rem;
    }
  
    .signup-container form {
      max-width: 90%;
    }
  
    .signup-container input {
      font-size: 1rem;
    }
  
    .signup-container input[type="submit"] {
      font-size: 1rem;
    }
  
    .signup-container .success-popup p {
      font-size: 1rem;
    }
  }
  