

   .form-container {
    margin: 25px auto;
    width: 50%;
    text-align: center;
/* 
    border: 1px solid rgba(0, 0, 0, 0.904); */
    border-radius: 5px;
padding: 120px;

box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
/*  */

  }
  
  .sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
padding: 170px;

  }
  
  label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  input {
    padding: 5px;
    margin-left: 5px;
    border: none;
    border-bottom: 2px solid black;
    width: 250px;
    font-size: 18px;
  }
  
  .login-btn {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 50px;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .login-btn:hover {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
  }
  









