.container {

  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
text-align: center;
  background-color: #f8f8f8;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 120px;
  margin-bottom: 100px;
  animation: rainbow 5s ease-in-out infinite;
}

@keyframes rainbow {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  57% {
    color: blue;
  }
  71% {
    color: indigo;
  }
  85% {
    color: violet;
  }
  100% {
    color: red;
  }
}




p {
  color: #ff0000;
  margin-bottom: 10px;
  text-align: center;
}

form {
  margin-bottom: 20px;

}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input {
  width: 50%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  
}

button {
  padding: 50px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

button:hover {
  background-color: #555;
  
}

p:last-child {
  font-size: 14px;
}

p:last-child a {
  color: #333;
  font-weight: bold;
}

p:last-child a:hover {
  color: #555;
}

.login-icon {
  display: flex;
  align-items: center;
  margin-right: 55px;
  font-size: 3rem;

}



.login-text {
  margin-left: 11px;
  font-weight: bold;
  color: #333;
  font-size: 35px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
